{% extends 'base.html' %}

{% block content %}
  <h1>Change password:</h1>
  <br>
  {% if form.errors %}
    <p style="color: red">Error! {{ form.errors }}</p>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="Change">
  </form>

{% endblock %}