{% extends 'base.html' %}

{% block content %}
<h2>Register</h2>
  {% if form.errors %}
    <p style="color: red">Error{{ form.errors }}</p>
  {% endif %}

<form method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Register">
</form>

<a href="{% url 'login' %}">Back to login</a>
{% endblock %}