{% extends "base.html" %}

{% block content %}
  <h1>Delete Author</h1>
  <p>Are you sure you want to delete author: {{ author }}?</p>
{#  <p><i>All books with this literary format will be deleted!</i></p>#}
  <form action="" method="post">
    {% csrf_token %}
    <input type="submit" value="Yes, delete." class="btn btn-danger">
  </form>
{% endblock %}