{#{% extends "base.html" %}#}
{##}
{#{% block content %}#}
{#  <h1>Author List:</h1>#}
{#  {% if author_list %}#}
{#    <ul>#}
{#      {% for author in author_list %}#}
        {#        <li><a href="{% url 'catalog:book_detail' book.id %}">{{ book.title }} ({{ book.format }})</a></li>#}
{#        <li><a href="{{ author.get_absolute_url }}">{{ author.first_name }} {{ author.last_name }}</a></li>#}
{#      {% endfor %}#}
{#    </ul>#}
{#  {% else %}#}
{#    <p>There are no books.</p>#}
{#  {% endif %}#}
{##}
{#{% endblock %}#}

{% extends "base.html" %}

{% block content %}
  <h1>Author List <a style="float: right" href="{% url 'catalog:author_create' %}">+</a></h1>

  {% if author_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Biography</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      {% for author in author_list %}
        <tr>
          <td>{{ author.id }}</td>
          <td>
            <a href="{% url 'catalog:author_detail' pk=author.id %}">{{ author.first_name }} {{ author.last_name }}</a>
          </td>
          <td>
            {% if author.biography %}
              <a href="{% url 'catalog:author_detail' pk=author.id %}">learn more...</a>
              {% else %}
              no biography added yet
            {% endif %}
          </td>
          <td>
            <a href="{% url 'catalog:author_update' pk=author.id %}">UPDATE</a>
          </td>
          <td>
            <a href="{% url 'catalog:author_delete' pk=author.id %}">DELETE</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no literary formats in Library.</p>
  {% endif %}
{% endblock %}
