{#{% extends "base.html" %}#}
{##}
{#{% block content %}#}
{#  <h1>Book List: <a style="float: right" href="{% url 'catalog:book_create' %}">+</a></h1>#}
{#  {% if book_list %}#}
{#    <ul>#}
{#      {% for book in book_list %}#}
{#        <li><a href="{% url 'catalog:book_detail' book.id %}">{{ book.title }} ({{ book.format }})</a></li>#}
{#        <li><a href="{{ book.get_absolute_url }}">{{ book.title }} ({{ book.format }})</a></li>#}
{#      {% endfor %}#}
{#    </ul>#}
{#  {% else %}#}
{#    <p>There are no books.</p>#}
{#  {% endif %}#}
{##}
{#{% endblock %}#}

{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>Book List <a style="float: right" href="{% url 'catalog:book_create' %}">+</a></h1>
  <form action="" method="get" class="form-check-inline d-inline-flex align-items-start">
  {{ search_form|crispy }}
  <input type="submit" value="search" class="btn btn-outline-secondary">
  </form>

  {% if book_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Authors</th>
        <th>Description</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      {% for book in book_list %}
        <tr>
          <td>{{ book.id }}</td>
          <td>
            <a href="{% url 'catalog:book_detail' pk=book.id %}">{{ book.title }}</a>
          </td>
          <td>
            {% for author in book.authors.all %}
              {{ author.last_name }} {{ author.first_name }},
            {% endfor %}
          </td>
          <td>{{ book.description|default:"without description" }}</td>
          <td>
            <a href="{% url 'catalog:book_update' pk=book.id %}">UPDATE</a>
          </td>
          <td>
            <a href="{% url 'catalog:book_delete' pk=book.id %}">DELETE</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no books formats in Library.</p>
  {% endif %}
{% endblock %}
