{% extends "base.html" %}

{% block content %}
  <h1>Title: {{ book.title }}</h1>
  <p><strong>format: </strong>{{ book.format }}</p>
  {% if book.description %}
    <p><strong>description: </strong>{{ book.description }}</p>
  {% endif %}
  <div class="m-3">
    <h3>Authors:</h3>
    <hr>
    {% for author in book.authors.all %}
      <p class="text-muted">{{ author.id }}</p>
      <p>{{ author.first_name }} {{ author.last_name }}</p>
    {% empty %}
      <p>No authors.</p>
    {% endfor %}
  </div>
{% endblock %}