{% extends "base.html" %}

{% block title %}
  <title>Library homepage</title>
{% endblock %}

{% block content %}
  <h1>Welcome to the Library!</h1>
  <br>
  <h2>Library content:</h2>
  <ul>
    <li>Num books {{ num_books }}</li>
    <li>Nim authors {{ num_authors }}</li>
    <li>Num genres {{ num_literary_formats }}</li>
  </ul>

{#  <p>You have visited our site {{ num_visits }} {% if num_visits == 1 %} time {% else %} times{% endif %}</p>#}
  <p>You have visited our site {{ num_visits }} time{{ num_visits|pluralize }}</p>

{% endblock %}
