{% extends "base.html" %}

{% block content %}
  <h1>Literary Format List <a style="float: right" href="{% url 'catalog:literary_format_create' %}">+</a></h1>

  {% if literary_format_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      {% for literary_format in literary_format_list %}
        <tr>
          <td>{{ literary_format.id }}</td>
          <td>{{ literary_format.name }}</td>
          <td>{{ literary_format.description|default:"without description" }}</td>
          <td>
            <a href="{% url 'catalog:literary_format_update' pk=literary_format.id %}">UPDATE</a>
          </td>
          <td>
            <a href="{% url 'catalog:literary_format_delete' pk=literary_format.id %}">DELETE</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no literary formats in Library.</p>
  {% endif %}
{% endblock %}
